#wrapper
{
	width:1000px;
	height:1500px;
	//border:1px solid;
	margin:0px auto;
	border-radius:20px;
}
#menu
{
	width:1000px;
	height:50px;
	background-color:aqua;
	border-radius:20px 20px 0px 0px;
	margin:0px auto;
}
#header
{
	width:1000px;
	height:150px;
	//border:1px solid;
	margin-top:5px;
}
#logo
{
	width:150px;
	height:150px;
	background-color:pink;
	float:left;
}
#banner
{
	width:850px;
	height:150px;
	background-color:#cdcdcd;	
	float:right;
}
#slider
{
	width:1000px;
	height:250px;
	background-color:#defdfe;
	margin-top:5px;
}
#container
{
	margin-top:5px;
	height:800px;
	width:1000px
}
#left
{
	width:300px;
	height:800px;
	background-color:pink;
	float:left;
	border-radius:0px 0px 0px 20px;
}
#main
{
	width:700px;
	height:800px;
	background-color:#06d2f0;
	float:right;
	border-radius:0px 0px 20px 0px;
}
#footer
{
	width:1000px;
	height:215px;
	margin-top:20px;
}
#lfooter
{
	width:500px;
	height:215px;
	background-color:#093387;
	float:left;
	border-radius:20px 0px 0px 20px;
	text-align:center;
	color:white;
	font-size:30px;
	padding-top:75px;
	
}
#rfooter
{
	width:500px;
	height:215px;
	background-color:#cdcdcd;
	float:right;
	border-radius:0px 20px 20px 0px;
	text-align:center;
	color:white;
	font-size:30px;
	padding-top:75px;
}




